/*
Theme Name: kento-blog
Theme URI: http://kentothemes.com/kento-blog
Author: kentothemes
Author URI: http://kentothemes.com
Tags: light, white, one-column, two-columns, three-columns, custom-background, custom-header, custom-menu, custom-colors, featured-images, left-sidebar, sticky-post, post-formats
Description: Full Featured WordPress Blog Theme.
Version: 1.0.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: kento-blog


*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
 body {
        font: 16px/26px 'Roboto', sans-serif;
        margin: 0 auto;
		font-weight: 300;
    }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

    nav ul li {
        display: inline;
    }

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
	text-align:justify;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}






/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	/*color: purple;*/
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.nav.navbar-nav.navbar-right {
    margin-right: -25px;
    margin-top: 23px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
ul.nav.navbar-nav li a {
  color: #fff;
  font-weight: 700;
  outline: medium none;
  text-transform: uppercase;
}
.dropdown-menu {
  background-clip: padding-box;
  background-color: #323232;
  border: medium none;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 14px;
  left: 0;
  list-style: outside none none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 8px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #323232;
  color: #262626;
  text-decoration: none;
}
.dropdown-menu > li > a {
  clear: both;
  color: #333;
  display: block;
  font-weight: normal;
  line-height: 1.42857;
  padding: 5px 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
.navbar-right .dropdown-menu { left: 0; right: auto; }
ul.nav.navbar-nav li.current_page_item a,
ul.nav.navbar-nav li:hover > a { background-color: transparent }
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
	outline:none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}
ul.nav.navbar-nav li ul.dropdown-menu li a { text-transform: none; font-weight: 400}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.entry-title a{
		margin-top: 0px;

    font-weight: 500;
		line-height: 45px;
}

.content-area {
  display: block;
  margin-top: 50px;
}
.main-content article {
  display: block;
  margin-bottom: 50px;
  background-color: transparent;
}
.main-content article img{
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.entry-header h1.entry-title {
  margin: 0;
  padding: 0;
}
.entry-header h1.entry-title-inner {
  font-size: 20px;
  padding: 40px;
  margin:0;
}
.entry-header h1.entry-title a {
    color: #000;
    display: block;
    font-size: 26px;
    padding: 107px;
    text-align: center;
	outline:medium none;
    text-decoration: none;
}
.content-box-wraper{
    background: #fff none repeat scroll 0 0;
	border-radius: 8px;
	-webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1) !important;
	-moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1) !important;
	box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1) !important;
}

.entry-header {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
    background: #fff none repeat scroll 0 0;
}
.entry-header h1.entry-title a:hover {
    color: #fff;
}
.entry-header-inner {
  background: #fff none repeat scroll 0 0;
  padding: 80px 140px;
  border-radius: 10px;
}
.entry-header-inner .entry-meta {
  color: #949db2;
  font-size: 15px;
  margin-bottom: 15px;
}
.entry-header-inner .entry-author a, .entry-date a {
  color: #949db2;
}
.entry-header-inner .entry-meta span.entry-author, span.entry-date {
  margin-right: 15px;
}
.entry-meta span i {
  color: #000;
  margin-right: 10px;
}
.entry-header-inner .entry-summery {
  color: #5f687d;
  font-size: 16px;
  line-height: 28px;
}
.entry-meta .entry-footer a {
    color: #5f687d;
    display: block;
    overflow: hidden;
}
.entry-footer a.button.readmore {
    border: 1px solid #000;
    color: #5f687d;
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 90px;
}
.entry-footer a.button.readmore:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
.main-content .page-header {
  margin: 0 0 35px;
}
.main-content .page-header h1.page-title {
  background: #fff none repeat scroll 0 0;
  margin: 0;
  padding: 28px;
  text-align: center;
}
.four-zero {
  display: block;
  font-size: 100px;
  margin-bottom: 30px;
  overflow: hidden;
}
.footer-widgets {
  background: #2f3339 none repeat scroll 0 0;
  padding: 45px 0;
}
.widget .tsgs-list a {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin: 4px;
  padding: 5px;
  text-align: center;
}
.footer-area {
    background: #323232 none repeat scroll 0 0;
    color: #fff;
    padding: 25px;
}
.back-home i {
    color: #fff;
    float: right;
    font-size: 29px;
}
.footer > a {
  color: #ffffff;
  outline: medium none;
  text-decoration: none;
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
.widget-area {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
aside.widget{
  background: #ffffff none repeat scroll 0 0;
  display: block;
  margin-bottom: 45px;
  overflow: hidden;
  padding: 30px;
}
aside.widget h2.widget-title {
  font-size: 21px;
  margin-bottom: 15px;
  margin-top: 0;
}
aside.widget ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
aside.widget ul li {
  border-bottom: 1px solid #f2f2f2;
  clear: both;
  float: left;
  list-style: outside none none;
  margin-bottom: 10px;
  padding-bottom: 0;
  width: 100%;
}
aside.widget ul li a {
  color: #5f687d;
  transition: all 1s ease 0s;
  text-decoration:none;
}
aside.widget ul li a:hover {
  color: #000;
  text-decoration:none;
  transition: all 1s ease 0s;
}

.search-form > label {
    display: block;
    overflow: hidden;
    width: 100%;
}
form.search-form .search-field {
    display: block;
    overflow: hidden;
    padding: 10px;
    width: 91%;
}
.main-content form.search-form label {
  display: block;
  float: left;
  overflow: hidden;
  width: 91%;
}
.page-content form.search-form label {
    float: left;
    width: 91%;
}
form.search-form input.search-submit {
    box-shadow: none;
    color: #000;
    font-size: 12px;
    padding: 11px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
.comments-area {
  background: #fff none repeat scroll 0 0;
  display: none;
  margin-bottom: 40px;
  padding: 40px;
}
.comments-area ol.comment-list {
  margin: 0;
  padding: 0;
}
.comment-author.vcard img {
    border: 1px solid #323232;
    border-radius: 50%;
    display: block;
    float: left;
    height: auto;
    margin-right: 20px;
    overflow: hidden;
    width: 80px;
}
div.comment-content p {
    color: #5f687d;
    display: block;
    margin-top: 10px;
    overflow: hidden;
}
div.comment-metadata {
    display: block;
    margin-top: 5px;
}
div.comment-metadata > a {
    color: #5f687d;
}
div.reply, a {
  color: #1ab501;
  text-decoration: none;
}
.comment-reply-link:focus {
  color: #1ab501;
  outline: medium none;
}
#commentform input.submit {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #000;
  box-shadow: none;
  color: #000;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 12px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
body {
  background: #fff none repeat scroll 0 0;
  color: #333;
  font-size: 15px;
}
.header-area {
    display: block;
}
.logo {
    display: block;
    margin-bottom: 15px;
}
.logo h3.logo-title {
    margin-top: 15px;
}
.logo span.logo-description {

}
.logo h3.logo-title a {
    color: #fff;
    text-decoration: none;
}
.logo h3.logo-title a:hover {
    text-decoration: none;
}
.wrapper {
        width: 100%; /* 1392px - 10% for margins */
        margin: 0 auto;
    }

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container{
        -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1) !important;
        -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1)) !important;
        box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1)) !important;
        z-index: 100) !important;
        width: 100%) !important;
        position: relative) !important;
    }

    .header-logo-container{
        display: inline-block;
        position: relative;
        width: 150px;
        height: 100%;
        margin-bottom: 2px solid transparent;
    }

    .header-logo-container img{
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }


    .title {
        float: left;
    }
    .no-shadow{
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }

    .header{
        z-index: 100;
        display: block;
        height: 83px;
    }

    .header-home{
        z-index: 100;
        height: 83px;
    }

    .header-home nav,
    .header nav {
        float: right;
        width: auto;
    }

    .header-home nav ul,
    .header nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .header nav a {
        display: block;
        padding: 29px 0;

        width: 86px;

        text-align: center;
        text-decoration: none;

        color: #57585b;
        background: transparent;

        border-bottom: 3px solid transparent;

        font-weight: 400;
    }

    .header-home nav a:hover{
        border-bottom: 3px solid #fff;
    }

    .header nav a:hover{
        border-bottom: 3px solid #1ab501;
    }

    .header-selected{
        border-bottom: 3px solid #1ab501 !important;
    }

    .header-home nav a ,
    .header nav a {
        float: left;
        margin: 0px;
    }

    .header-home nav li a,
    .header nav li a{
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-home nav li:first-child a ,
    .header nav li:first-child a {
        margin-left: 0;
    }

    .header-home nav li:last-child a ,
    .header nav li:last-child a {
        margin-right: -14px;
    }
	.container{
		width: 1000px;
		margin: 0 auto;
		max-width: 100%;
	}

    .footer-container{
        width: 1170px;
        margin: 0 auto;
    }

    .footer-column{
        width: 33%;
        height: 392px;
        vertical-align: top;
				display: inline-block;
    }

    .footer-column-left{
        display: block;
        width: 184px;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: left;
        vertical-align: top;
    }

    .footer-column-center{
        display: block;
        width: 184px;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: none;
        vertical-align: top;
    }

    .footer-column-right{
        display: block;
        width: 184px;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: right;
        vertical-align: top;
    }

    .footer-column h4{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #57585b;
        padding-top: 40px; /* see when there is content*/
    }

    .footer-column a{
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        color: #57585b;
        text-decoration: none;
    }

    .footer-column a:hover{
        color: #1ab501;
    }

    .footer_mail{
        padding-left: 30px;
        background: url('../../../../img/footer_mail.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_mail:hover{
        background: url('../../../../img/footer_mail_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    .footer_facebook{
        padding-left: 30px;
        background: url('../../../../img/footer_facebook.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_facebook:hover{
        background: url('../../../../img/footer_facebook_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    .footer_twitter{
        padding-left: 30px;
        background: url('../../../../img/footer_twitter.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_twitter:hover{
        background: url('../../../../img/footer_twitter_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_built_by_mobiversal_div{
        display: block;
        width: 200px;
    }
    .footer_built_by_mobiversal_div a{
        display: inline-block;
    		height: 24px;
    }
    .footer_built_by_mobiversal{
        display: inline-block;
        font-size: 12px;
        color: #57585b;
				margin-top: 3px;
    		vertical-align: top;
    }
    .footer_mobiversal_logo{
        margin-left: 6px;
        display: inline-block;

    }

    .separator{
        display: block;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        height: 1px;
        background-color: #e1e1e1;
    }

	.signature{
		display: block;
		margin: 60px auto;
	}

	.signature .picture{
		display: block;
		width: 237px;
		height: 64px;
	}

	.flavius-picture{
		background-image: url(../../../../img/flavius-signature-blog.png);
	}

	.emilia-picture{
		background-image: url(../../../../img/emilia-signature-blog.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.signature .text{
		color: #57585b;
		font-size: 16px;
		font-weight: 300;
		margin: 15px auto;
	}

	.signature a{
		color: #1ab501;
	}

	.posted-on{
		color: #1ab501 !important;
		font-size: 14px !important;
		font-weight: 300 !important;
	}

	.posted-on time{
		color: #1ab501;
		font-size: 14px !important;
		font-weight: 300;
	}

	.entry-title-inner{
		margin-top: 0px;
		font-weight: 500;
		color: #57585b !important;
	}

	.good_old_share_button {
		margin-bottom: 50px;
	}

	nav.navigation.post-navigation {
		background: #fff none repeat scroll 0 0;
		display: block;
		margin-bottom: 35px;
		padding: 40px 0px;
	}
	.nav-previous,
	.nav-home,
	.nav-next
	{
		width: 33%;
		display: inline-block;
		vertical-align: top;
	}

	.nav-previous a,
	.nav-home a,
	.nav-next a
	{
		display: block;
		width: 189px;
		height: 48px;
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,10);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.10);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.10);
		text-align: center;
		line-height: 48px;
		color: #57585b;
		font-weight: 500;
		border-radius: 5px;
		background-repeat: no-repeat;
	}

	.nav-previous a:hover,
	.nav-home a:hover,
	.nav-next a:hover
	{
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,25);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.25);
		background-color: #1ab501;
		color: #fff;
	}

	.nav-previous a{
		margin-left: 0px;
		background-image: url(../../../../img/blog-left.png);
		background-position: 20px 50%;
		padding-left: 30px;
	}

	.nav-previous a:hover{
		background-image: url(../../../../img/blog-left-hover.png);
	}

	.nav-home a{
		margin: 0 auto;
	}

	.nav-next a{
		float: right;
		background-image: url(../../../../img/blog-right.png);
		background-position: 150px 50%;
	}
	.nav-next a:hover{
		background-image: url(../../../../img/blog-right-hover.png);
	}

	.blog-title{
		display: block;
		width: 100%;
		margin-bottom: 50px;
	}

	.blog-title h1{
		font-size: 30px;
		text-align: center;
		color: #57585b;
		width: 100%;
		margin-bottom: 0px;
		font-weight: 500;
	}

	.blog-title h1 span{
		color: #1ab501;
	}

	.blog-title h4{
		font-size: 18px;
		text-align: center;
		color: #57585b;
		width: 100%;
		margin-top: 0px;
		font-weight: 500;
	}
	.entry-title a{
		text-decoration: none !important;
		color: #57585b !important;
	}

	.read-more{
		display: block;
		width: 189px;
		height: 48px;
		text-align: center;
		line-height: 48px;
		color: #fff;
		font-weight: 300;
		border-radius: 3px;
		background-color: #1ab501;
		text-decoration: none;
		margin-top: 30px;
		text-transform: uppercase;
		font-size: 16px;
	}

	.read-more:visited{
		color: #fff;
	}

	.read-more:hover{
		background-color: #16a000;
		color: #fff;
	}

	.read-more span{
		display: none;
	}

	.pagination{
		display: block;
		text-align: center;
		margin-bottom: 50px;
	}

	.page-numbers{
		display: inline-block;
		width: 48px;
		height: 48px;
		margin-left: 8px;
		margin-right: 8px;
		border-radius: 5px;
		text-align: center;
		line-height: 48px;
		background-color: #fff;
		-webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1) !important;
		-moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1) !important;
		box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1) !important;
		vertical-align: top;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
		color: #57585b;
	}

	.pagination .next{
		background-image: url(../../../../img/Shape-71.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.pagination .prev{
		background-image: url(../../../../img/Shape-7.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.pagination .next:hover{
		background-image: url(../../../../img/Shape-71-hover.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.pagination .prev:hover{
		background-image: url(../../../../img/Shape-7-hover.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.page-numbers:hover{
		background-color: #1ab501;
		color: #fff;
	}

	.current{
		background-color: #1ab501;
		color: #fff;
	}

	.wp-post-image{
		width: 100%;
	}

@media only screen and (min-width: 1252px) {
    .wrapper {
        width: 1252px; /* 1392px - 10% for margins */
    }
    .main_content{
        width: 1170px;
        margin: 0 auto;
    }
}
