/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

    body{
        width: 100%;
        height: 100%;
        min-height: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    html {
        color: #57585b;
        font-size: 1em;
        line-height: 1.4;
    }

    ::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    ::selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
    audio,
    canvas,
    iframe,
    img,
    svg,
    video {
        vertical-align: middle;
    }
    video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('../../img/appointfix-homepage-image.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        object-fit: cover;
        margin-top: -83px;
        -webkit-filter: brightness(65%);
        filter: brightness(65%);
    }

    h3{
        font-size: 30px;
        font-weight: 500;
        color: #57585b;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 70px;
        line-height: 35px;
    }

    h6{
        font-size: 24px;
        font-weight: 500;
        color: #57585b;
        margin: 8px 0px;
    }

    a{
        text-decoration: none;
        color: #1ab501;
    }
    .font-size-30{
        font-size: 30px;
    }

    .transparent{
        background-color: transparent !important;
    }

    .hidden{
        opacity: 0;
        display: none;
    }

    .visible{
        opacity: 1;
        display: block;
    }

    
    .tooltip {
        background-image: url(../../img/info-btn.png);
        background-repeat: no-repeat;
        display: inline-block;
        height: 18px;
        margin-bottom: -3px;
        position: static;
        width: 18px;
    }
    
    .tooltip .tooltiptext {
        background-image: url(../../img/info-btn-hover.png);
        background-repeat: no-repeat;
        background-position: 10px 10px;
        display: inline-block;
        visibility: hidden;
        width: 0px;
        max-width: calc(100% - 40px);
        background-color: #fff;
        color: #57585b;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        border-radius: 5px;
        padding: 30px;
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
        width: 344px;
        top: -10px;
        left: -10px;
    }    

    .pricing-table-ultimate .tooltip:hover .tooltiptext {
        left: -374px;
        background-position: calc(100% - 14px) 10px;
    }

    .video-content h2{
        display: block;
        max-width: 100%;
        font-size: 32px;
        line-height: 32px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        padding: 0;
        margin: 0;
        padding-top: 20px;
    }
    .video-content p{
        display: block;
        max-width: 100%;
        font-size: 18px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .home-video-content-download-container{
        display: block;
        width: 100%;
        /*white-space: nowrap;*/
        z-index: 1000;
        margin-bottom: 90px;
    }
    .home-video-content-download-div{
        display: block;
        white-space: normal;
        min-height: 10px;
        width: 190px;
        height: 56px;
        margin: 0 auto;
    }
    .home-video-content-download-div a{
        display: block;
        vertical-align: top;
        margin: 15px auto;

    }
    .home-video-content-download-div-apple{
        display: block;
        width: 190px;
        height: 56px;
        background: url('../../img/appstore_w.png');
    }
    .home-video-content-download-div-apple:hover{
        background: url('../../img/appstore_w_hover.png');
    }
    .home-video-content-download-div-google{
        display: block;
        width: 190px;
        height: 56px;
        background: url('../../img/google_play_w.png');
    }
    .home-video-content-download-div-google:hover{
        background: url('../../img/google_play_w_hover.png');
    }

    .main_content{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .main-home{
        display: block;
        max-width: 100%;
        vertical-align: top;
        /*white-space: nowrap;*/
    }

    .main-home-article-info{
        display: block;
        white-space: normal;
        text-align: left;
    }

    .main-home-article-info h3{
        font-size: 30px;
        font-weight: 500;
        color: #57585b;
        width: 100%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .main-home-article-info p{
        font-size: 18px;
        font-weight: 300;
        color: #57585b;
        width: 100%;
    }

    .main-home-article-img{
        width: 100%;
        display: block;
        white-space: normal;
        position: relative;
    }
    .main-home-article-img img{
        width: 100%;
        display: block;
    }

    .main-home-first-row-img .post{
        top: 0px;
        position: absolute;
        display: block;
    }
    .main-home-second-row-img{
        display: none;
    }

    .main-home-second-row-img-mobile{
        display: block;
    }
    .main-home-second-row-img-mobile .post{
        top: 0px;
        position: absolute;
        display: block;
    }

    .main-home-third-row-img .post{
        top: 0px;
        position: absolute;
        display: block;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
    textarea {
        resize: vertical;
    }

    .browserupgrade {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }

    .margin-top-0{
        margin-top: 0px !important;
    }

    .margin-top-50{
        margin-top: 50px !important;
    }

    .margin-bottom-0{
        margin-bottom: 0px !important;
    }

    .padding-bottom-0{
        padding-bottom: 0px !important;
    }

    .padding-left-20{
        padding-left: 20px;
    }

    .width-90{
        width: 90% !important;
    }

    .background-odd{
        background-color: #f9f9f9;
    }

    .line-height-100{
        line-height: 100%;
    }

    .footer-container{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    .footer-column{
        width: 100%;
        height: 275px;
        vertical-align: top;
    }

    .footer-column-left{
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: left;
        vertical-align: top;
    }

    .footer-column-center{
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: none;
        vertical-align: top;
    }

    .footer-column-right{
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: right;
        vertical-align: top;
    }

    .footer-column h4{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #57585b;
        padding-top: 40px; /* see when there is content*/
    }

    .footer-column a{
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        color: #57585b;
        text-decoration: none;
    }

    .footer-column a:hover{
        color: #1ab501;
    }

    .footer_mail{
        padding-left: 30px;
        background: url('../../img/footer_mail.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_mail:hover{
        background: url('../../img/footer_mail_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    .footer_facebook{
        padding-left: 30px;
        background: url('../../img/footer_facebook.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_facebook:hover{
        background: url('../../img/footer_facebook_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    .footer_twitter{
        padding-left: 30px;
        background: url('../../img/footer_twitter.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_twitter:hover{
        background: url('../../img/footer_twitter_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_built_by_mobiversal_div{
        display: block;
        width: 200px;
    }
    .footer_built_by_mobiversal_div a{
        display: inline-block;
    }
    .footer_built_by_mobiversal{
        display: inline-block;
        font-size: 12px;
        color: #57585b;
    }
    .footer_mobiversal_logo{
        margin-left: 6px;
        display: inline-block;

    }
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

    body {
        font: 16px/26px 'Roboto', sans-serif;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper {
        width: 90%;
        margin: 0 5%;
    }

    .header-container {
    }

    .footer-container{
        /*background-color: #fff;*/
    }

    .header-container,
    .footer-container{

    }

    .title {

    }

    /* ==============
        MOBILE: Main
       ============== */

    .main {
        padding: 30px 0;
    }

    .main article h1 {
        font-size: 2em;
    }


    .footer-container footer {
        white-space: nowrap;
    }
    footer div{
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }

    /* ===============
        ALL: IE Fixes
       =============== */

    .ie7 .title {
        padding-top: 20px;
    }

    .main-home-fourth-row-box{
        width: 90%;
        height: 202px;
        border-radius: 5px;
        margin: 10px auto;
        cursor: pointer;
        background-position: 50% 15%;
        background-repeat: no-repeat;
    }

    .main-home-fourth-row-box h5 {
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
        font-size: 18px;
        font-weight: 500;
        color: #57585b;
    }
    .main-home-fourth-row-box p{
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: #57585b;
        max-width: 75%;
    }
    .main-home-fourth-row-box a{
        text-decoration: none;
    }
    .main-home-fourth-row-box a:hover{
        text-decoration: underline;
    }
    .home-box1{
        background-image: url('../../img/calendat-icon.png');
    }
    .home-box2{
        background-image: url('../../img/services-icon.png');
        background-position: 50% 18% !important;
    }
    .home-box3{
        background-image: url('../../img/smart-shortcut-icon.png');
    }
    .home-box4{
        background-image: url('../../img/alarms-icon.png');
    }
    .home-box5{
        background-image: url('../../img/reminders-icon.png');
    }
    .home-box6{
        background-image: url('../../img/sync-icon.png');
    }
    .home-box7{
        background-image: url('../../img/client-icon.png');
    }
    .home-box8{
        background-image: url('../../img/group-icon.png');
    }
    .home-box9{
        background-image: url('../../img/google-apple-calendar-icon.png');
    }


    .testimonial-container{
        width: calc(100% + 42px);
        margin-left: -21px;
        margin-right: -21px;
    }
    .testimonial-box{

    }
    .testimonial-box-content{
        width: calc(100% - 42px);
        margin: 0 auto;
        height: 480px;
    }
    .testi-img{
        display: block;
        border-radius: 35px;
        margin: 0 auto;
        -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.15);
    }
    .testi-box{
        display: block;
        width: 100%;
        height: 415px;
        margin-top: -35px;
        border-radius: 5px;
        background-color: #fff;
        background-image: url(../../img/testi-box-img.png);
        background-repeat: no-repeat;
        background-position: 8% 10%;
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
    }
    .testi-box p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        display: block;
        line-height: 24px;
    }
    .testi-text{
        width: 100%;
        height: 240px;
        padding-top: 83px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-style: italic;
        font-weight: 300;
        color: #57585b;
    }
    /*5row*/
    .testi-1 .testi-text,
    .testi-4 .testi-text,
    .testi-7 .testi-text,
    .testi-9 .testi-text
    {
        height: 180px;
        padding-top: 143px;
    }
    /*6row*/
    .testi-2 .testi-text,
    .testi-8 .testi-text,
    .testi-10 .testi-text{
        height: 192px;
        padding-top: 131px;
    }
    /*7row*/
    .testi-3 .testi-text,
    .testi-6 .testi-text,
    .testi-11 .testi-text,
    .testi-12 .testi-text{
        height: 204px;
        padding-top: 119px;
    }
    /*3row*/
    .testi-5 .testi-text{
        height: 156px;
        padding-top: 167px;
    }

    .testi-name{
        padding-top: 10px;
        font-size: 18px;
        color: #57585b;
        font-weight: 500;
    }
    .testi-ocupation{
        font-size: 14px;
        color: #a2a3a5;
        font-weight: 400;
    }


    .home-professionals-container{
        width: calc(100% + 42px);
        margin-left: -21px;
        margin-right: -21px;
        font-size: 0;
    }
    .home-professionals-box{
        display: inline-block;
        width: 100%;
        margin: 0px;
        white-space: normal;
        vertical-align: top;
    }
    .home-professionals-box a{
        font-size: 16px;
        text-decoration: none;
        margin: 0;
    }
    .home-professionals-box-content{
        display: block;
        width: calc(100% - 42px);
        max-width: 260px;
        height: 318px;
        border-radius: 5px;
        margin: 21px auto;
        background-color: #fff;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
    }
    .home-professionals-box-content:hover {
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.25);
    }
    .prof-box-1{
        background-image: url(../../img/prof-box-1.png);
    }
    .prof-box-2{
        background-image: url(../../img/prof-box-2.png);
    }
    .prof-box-3{
        background-image: url(../../img/prof-box-3.png);
    }
    .prof-box-4{
        background-image: url(../../img/prof-box-4.png);
    }
    .home-professionals-box-content p{
        text-align: left;
        color: #57585b;
        line-height: normal;
        max-width: 82%;
        margin: 10px auto;
    }
    .home-professionals-box-content-title{
        padding-top: 165px;
        font-size: 18px;
        font-weight: 500;
    }
    .home-professionals-box-content-text{
        font-size: 16px;
        font-weight: 300;
    }
    .separator{
        display: block;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        height: 1px;
        background-color: #e1e1e1;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .download-container{
        display: block;
        width: 100%;
        /*white-space: nowrap;*/
        z-index: 1000;
        text-align: center;
    }
    .download-title{
        color: #57585b;
        font-size: 30px;
        font-weight: 500;
    }
    .download-text{
        font-weight: 400;
        color: #57585b;
        font-size: 18px;
        margin: 16px auto !important;
    }
    .download-div{
        display: block;
        white-space: normal;
        min-height: 10px;
        width: 190px;
        height: 56px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .download-div a{
        display: block;
        vertical-align: top;
        margin: 15px auto;

    }
    .download-div-apple{
        border-radius: 10px;
        display: block;
        width: 190px;
        height: 56px;
        background: url('../../img/appstore.png');
    }
    .download-div-apple:hover{
        -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
    }
    .download-div-google{
        border-radius: 10px;
        display: block;
        width: 191px;
        height: 56px;
        background: url('../../img/google_play.png');
    }
    .download-div-google:hover{
        -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
    }

    .support{
        padding: 0px;
    }

    .support h3{
        margin-bottom: 40px;
    }

    .support p{
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
        max-width: 90%;
        font-weight: 300;
    }

    .support a{
        text-decoration: none;
    }

    .support-button{
        height: 48px;
        width:  300px;
        max-width: 90%;
        margin: 0 auto;
        background-color: #1ab501;
        border-radius: 3px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-image: url(../../img/support-contact-button-email-icon.png);
        background-repeat: no-repeat;
        background-position: 7% 50%;
    }

    .support-button:hover{
        background-color: #16a000;
        -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.33);
    }

    .support-button p{
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        width: calc(100% - 30px);
        height: 100%;
        text-align: center;
        line-height: 48px;
        padding-left: 30px;
    }

    .support-picture-contaier{
        display: block;
        width: 100%;
        vertical-align: top;
        font-size: 0px;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .support-bg{
        background: linear-gradient(#fff 250px, #f9f9f9 250px, #f9f9f9 calc(100% - 275px), #fff calc(100% - 275px));
    }

    .support-picture-contaier-row{

    }

    .support-picture-contaier-column{
        width: 100%;
        display: block;
    }

    .support-picture-contaier-column-people{
        width: 261px;
        height: 356px;
        display: block;
        border-radius: 6px;
        margin: 0 auto;
        margin-bottom: 26px;
        background-size: cover;
        background-position: top;
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.10);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.10);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.10);
    }
    .support-picture-contaier-column-people:hover{
        -webkit-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.25);
    }

    .column-people-alin{
        background-image: url(../../img/support-alin.png);
    }
    .column-people-alin:hover{
        background-image: url(../../img/support-alin-hover.png);
    }

    .column-people-flavius{
        background-image: url(../../img/support-flavius.png);
    }
    .column-people-flavius:hover{
        background-image: url(../../img/support-flavius-hover.png);
    }

    .column-people-cristi{
        background-image: url(../../img/support-cristi.png);
    }
    .column-people-cristi:hover{
        background-image: url(../../img/support-cristi-hover.png);
    }

    .column-people-vlad{
        background-image: url(../../img/support-vlad.png);
    }
    .column-people-vlad:hover{
        background-image: url(../../img/support-vlad-hover.png);
    }

    .column-people-razvan{
        background-image: url(../../img/support-razvan.png);
    }
    .column-people-razvan:hover{
        background-image: url(../../img/support-razvan-hover.png);
    }

    .column-people-cristina{
        background-image: url(../../img/support-cristina.png);
    }
    .column-people-cristina:hover{
        background-image: url(../../img/support-cristina-hover.png);
    }

    .column-people-costi{
        background-image: url(../../img/support-costi.png);
    }
    .column-people-costi:hover{
        background-image: url(../../img/support-costi-hover.png);
    }

    .column-people-levi{
        background-image: url(../../img/support-levi.png);
    }
    .column-people-levi:hover{
        background-image: url(../../img/support-levi-hover.png);
    }

    .column-people-sebi{
        background-image: url(../../img/support-sebi.png);
    }
    .column-people-sebi:hover{
        background-image: url(../../img/support-sebi-hover.png);
    }

    .column-people-dan{
        background-image: url(../../img/support-dan.png);
    }
    .column-people-dan:hover{
        background-image: url(../../img/support-dan-hover.png);
    }

    .column-people-obed{
        background-image: url(../../img/support-obed.png);
    }
    .column-people-obed:hover{
        background-image: url(../../img/support-obed-hover.png);
    }

    .column-people-dani{
        background-image: url(../../img/support-dani.png);
    }
    .column-people-dani:hover{
        background-image: url(../../img/support-dani-hover.png);
    }

    .column-people-emilia{
        background-image: url(../../img/support-emilia.png);
    }
    .column-people-emilia:hover{
        background-image: url(../../img/support-emilia-hover.png);
    }

    .sup-separator{
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .landing{
        padding: 0px;
    }

    .landing h3{
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .landing p{
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
        max-width: 90%;
    }

    .landing img{

    }

    .landing-top{
        padding: 0px;
    }

    .landing-top h3{
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .landing-top p{
        margin: 0 auto;
        text-align: center;
        max-width: 90%;
        font-size: 18px !important;
        font-weight: 300;
    }

    .landing-top img{
        display: block;
        margin: 65px auto;
        max-width: 100%;
    }

    .landing-testi-box{
        display: block;
        width: 100%;
        height: auto;
        min-height: 200px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #fff;
        background-image: url(../../img/landing-testi-box-img.png);
        background-repeat: no-repeat;
        background-position: 50% 60px;
        margin-top: 89px;
        -webkit-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
    }

    .landing-testi-box-content{
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 145px;
    }

    .landing-testi-box-content p{
        width: 100%;
        text-align: left;
        max-width: 100%;
        font-size: 18px;
    }

    .landing-testi-box-text{
        display: block;
        font-style: italic;
        font-weight: 300;
        max-width: 100%;
        text-align: left;
    }

    .landing-testi-box-content-bottom{
        display: block;
        height: 56px;
        margin-top: 60px;
        margin-bottom: 60px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
    }

    .landing-testi-box-content-bottom p{
        color: #a2a3a5;
        font-size: 16px;
        line-height: 16px;
        display: block;
        max-height: 48px;
        text-overflow: ellipsis;
        overflow: hidden;

    }

    .landing-testi-box-content-bottom a{
        color: #1ab501;
    }

    .landing-testi-box-content-bottom a:hover{
        color: #1ab501;
        text-decoration: underline;
    }

    .scrissor{
        background-image: url(../../img/scrissor.png);
        padding-left: 59px;
        width: calc(100% - 59px);
    }

    .mirror{
        background-image: url(../../img/mirror.png);
        padding-left: 69px;
        width: calc(100% - 69px);
    }

    .nail{
        background-image: url(../../img/nail.png);
        padding-left: 39px;
        width: calc(100% - 39px);
    }

    .stethoscope{
        background-image: url(../../img/stethoscope.png);
        padding-left: 56px;
        width: calc(100% - 56px);
        height: 64px;
    }

    .stethoscope h6{
       padding-top: 5px
    }

    .message-oil{
        background-image: url(../../img/message-oil.png);
        padding-left: 50px;
        width: calc(100% - 50px);
    }

    .message-oil h6{
        padding-top: 2px;
    }

    .weight{
        background-image: url(../../img/weight.png);
        padding-left: 75px;
        width: calc(100% - 75px);
        background-position: 0% 50%;
    }

    .ball{
        background-image: url(../../img/ball.png);
        padding-left: 49px;
        width: calc(100% - 49px);
        background-position: 0% 22%;
    }

    .dog{
        background-image: url(../../img/dog.png);
        padding-left: 59px;
        width: calc(100% - 59px);
    }

    .wheel{
        background-image: url(../../img/wheel.png);
        padding-left: 59px;
        width: calc(100% - 59px);
        background-position: 0% 35%;
    }

    .car{
        background-image: url(../../img/car.png);
        padding-left: 59px;
        width: calc(100% - 59px);
        background-position: 0% 28%;
    }

    .landing-testi-photo-container{
        margin-top: 89px;
        margin-bottom: 89px;
        display: block;
        font-size: 0px;
    }

    .landing-testi-photo-container-box{
        display: block;
        border-radius: 5px;
        width: 100%;
        vertical-align: top;
        margin: 17px auto;
    }

    .landing-testi-photo-container-box img{
        margin: 0px 17px;
        max-width: calc(100% - 34px);
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
    }

    .landing-testi-photo-container-box span{
        position: absolute;
        color: #000000;
        font-size: 10px;
        bottom: -22px;
        right: 16px;
    }

    .tri-img{
        width: 100%;
    }

    .tri-img-box{
        width: 100%;
        position: relative;
    }

    .duo-img{
        width: 100%;
    }

    .duo-img-box{
        width: 100%;
        position: relative;
    }

    .img-box-shadow{
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
    }


    .terms-privacy{
        padding: 0px;
        font-size: 16px;
        color: #57585b;
        font-weight: 300;
        line-height: normal;
    }

    .terms-privacy h1{
        margin-top: 90px;
        margin-bottom: 90px;
        text-align: center;
    }
    .terms-privacy h4{
        margin-top: 13px;
        margin-bottom: 13px;
    }

    .terms-privacy p{
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
        max-width: 90%;
    }

    .main-tour{
        display: block;
        max-width: 100%;
        padding-top: 20px !important;
        padding-bottom: 10px;
        vertical-align: top;
    }

    .main-tour h6{
        text-align: center;
        padding-top: 60px;
    }

    .main-tour-article-info{
        display: block;
        white-space: normal;
        text-align: left;
    }

    .main-tour-article-info h3{
        font-size: 30px;
        font-weight: 500;
        color: #57585b;
        width: 100%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .main-tour-article-info p{
        font-size: 18px;
        font-weight: 300;
        color: #57585b;
        width: 100%;
    }

    .main-tour-article-img{
        width: 100%;
        display: block;
        white-space: normal;
    }
    .main-tour-article-img img{
        width: 100%;
        display: block;
    }

    .main-tour-1-second-row-img{
        display: none;
    }
    .main-tour-1-second-row-img-mobile{
        display: block;
    }

    .main-tour-1-fourth-row-img{
        display: none;
    }
    .main-tour-1-fourth-row-img-mobile{
        display: block;
    }

    .main-tour-2-second-row-img{
        display: none;
    }
    .main-tour-2-second-row-img-mobile{
        display: block;
    }

    .main-tour-2-fourth-row-img{
        display: none;
    }
    .main-tour-2-fourth-row-img-mobile{
        display: block;
    }

    .main-tour-3-second-row-img{
        display: none;
    }
    .main-tour-3-second-row-img-mobile{
        display: block;
    }

    .main-tour-3-fourth-row-img{
        display: none;
    }
    .main-tour-3-fourth-row-img-mobile{
        display: block;
    }

    .main-tour-4-second-row-img{
        display: none;
    }
    .main-tour-4-second-row-img-mobile{
        display: block;
    }

    .main-tour-5-second-row-img{
        display: none;
    }
    .main-tour-5-second-row-img-mobile{
        display: block;
    }

    .main-tour-6-second-row-img{
        display: none;
    }
    .main-tour-6-second-row-img-mobile{
        display: block;
    }

    .main-tour-article-box{
        display: block;
        width: 845px;
        max-width: 90%;
        height: auto;
        min-height: 360px;
        margin: 35px auto;
        margin-bottom: 45px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #fff;
        -webkit-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
    }

    .main-tour-article-box p{
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        text-align: left;
        padding: 20px 25px;
        margin: 0 auto;
    }

    .main-tour-article-box-flavius{
        display: block;
        width: 238px;
        height: 64px;
        background-image: url(../../img/flavius-signature.png);
        background-repeat: no-repeat;
        background-position: 25px 0px;
        padding-left: 25px;
        padding-bottom: 20px;
    }

    .badge-basic{
        margin-right: 7px;
        display: inline-block;
        width: 78px;
        height: 21px;
        border-radius: 3px;
        background-image: url(../../img/basic.png);
    }
    .badge-premium{
        margin-right: 7px;
        display: inline-block;
        width: 78px;
        height: 21px;
        border-radius: 3px;
        background-image: url(../../img/premium.png);
    }
    .badge-ultimate{
        margin-right: 7px;
        display: inline-block;
        width: 78px;
        height: 21px;
        border-radius: 3px;
        background-image: url(../../img/ultimate.png);
    }
    .badge-basic:hover,
    .badge-premium:hover,
    .badge-ultimate:hover{
        -webkit-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.20);
        box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.20);
    }



    .pricing h3{
        font-size: 30px;
        font-weight: 500;
        margin-top: 30px;
    }

    .pricing-info-link{
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-bottom: -4px;
        background-image: url(../../img/info-btn.png);
    }

    .pricing-info-link:hover{
        background-image: url(../../img/info-btn-hover.png);
    }

    .pricing-table{
        display: none;
        width: 100%;
        margin-top: 30px;
    }
    .pricing-table tr{
        border-bottom: 1px solid #e1e1e1;
    }
    .pricing-table td{
        width: 25%;
        /*width: 260px;*/
    }

    .pricing-table-m{
        display: block;
        width: 100%;
        margin-top: 30px;
    }
    .pricing-table-m tr{
        border-bottom: 1px solid #e1e1e1;
    }
    .pricing-table-m td{
        width: 25%;
        /*width: 260px;*/
    }

    .pricing-table-row-content{
        position: relative;
        display: block;
        width: 266px;
        margin: 0 auto;
    }

    .pricing-table-text p{
        color: #57585b;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
    }

    .pricing-table-text h6{
        color: #57585b;
        font-weight: 500;
        font-size: 30px;
        text-align: left;
        line-height: 35px;
        margin-bottom: 10px;
        margin-top: 35px;
    }

    .pricing-table-text-span{
        color: #57585b;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
        margin: 0 auto;
        display: block;
    }

    .pricing-table-basic,
    .pricing-table-premium,
    .pricing-table-ultimate{
        vertical-align: top;
    }

    .pricing-table-basic p{
        color: #7e57c2;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }

    .pricing-table-premium p{
        color: #0091ea;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }

    .pricing-table-ultimate p{
        color: #1ab501;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }

    .pricing-table-box{
        display: block;
        width: 260px;
        height: 198px;
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 60px;
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
    }

    .pricing-table-box-basic{
        
        background: linear-gradient(to bottom, #7e57c2 0%, #7e57c2 80px,white 80px,white 100%);
    }

    .pricing-table-box-premium{
        background: linear-gradient(to bottom, #0091ea 0%, #0091ea 80px,white 80px,white 100%);
    }

    .pricing-table-box-ultimate{
        background: linear-gradient(to bottom, #1ab501 0%, #1ab501 80px,white 80px,white 100%);
    }

    .pricing-table-info-sms-icon{
        display: block;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        padding-left: 40px;
        padding-top: 5px;
        min-height: 28px;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .pricing-table-info-basic-sms-icon{
        background-image: url(../../img/basic-sms-logo.png);
        color: #7e57c2;
        padding-left: 35px;
    }

    .pricing-table-info-premium-sms-icon{
        background-image: url(../../img/premium-sms-logo.png);
        color: #0091ea;
        padding-left: 35px;
    }

    .pricing-table-info-ultimate-sms-icon{
        background-image: url(../../img/ultimate-sms-logo.png);
        color: #1ab501;
        /* line-height: 28px; */
    }

    

    .pricing-table-box-title{
        color: #fff !important;
        font-size: 20px !important;
        font-weight: 400 !important;
        line-height: 80px;
        text-align: center !important;
    }

    .pricing-table-box-price{
        color: #57585b !important;
        font-size: 30px;
        font-weight: 500 !important;
        text-align: center !important;
        padding-top: 10px;
    }

    .pricing-table-box-price-small{
        font-size: 18px !important;
    }

    .pricing-table-box-text{
        color: #57585b !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        text-align: center !important;
        margin-top: 10px;
    }

    .pricing-table-not-included{
        width: 100%;
        height: 50px;
        margin: 0 auto;
        background-image: url(../../img/empty-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }

    .pricing-table-basic-included{
        width: 100%;
        height: 50px;
        margin: 0 auto;
        background-image: url(../../img/basic-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }

    .pricing-table-premium-included{
        width: 100%;
        height: 50px;
        margin: 0 auto;
        background-image: url(../../img/premium-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }

    .pricing-table-ultimate-included{
        width: 100%;
        height: 50px;
        margin: 0 auto;
        background-image: url(../../img/ultimate-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }

    .pricing-table-info-text{
        font-size: 12px;
        color: #57585b;
    }


    .pricing-testi-container{
        display: block;
        width: 100%;
        height: auto;
        font-size: 0px;
        padding-bottom: 38px;
        padding-top: 25px;
    }

    .pricing-testi-column{
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .pricing-testi-row-box{
        display: block;
        width: 100%;
        height: auto;
        text-align: left;
        vertical-align: top;
        margin-bottom: 90px;
    }

    .pricing-testi-row-box-content{
        display: block;
        width: calc(100% - 105px);
        height: auto;
        margin: 0 auto;
        padding-left: 105px;
        padding-right: 0px;
        background-image: url(../../img/landing-testi-box-img-rotated.png);
        background-repeat: no-repeat;
        background-position: 30px 5px;
    }

    .pricing-testi-row-box-text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        width: 90%;
    }
    .pricing-testi-row-box-info{
        margin-top: 10px;
        padding-left: 60px;
        min-height: 48px;
        background-image: url(../../img/pricing-testi-0.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }
    .pricing-testi-row-box-info-testi-1{
        background-image: url(../../img/pricing-testi-1.png);
    }
    .pricing-testi-row-box-info-testi-2{
        background-image: url(../../img/pricing-testi-2.png);
    }
    .pricing-testi-row-box-info-testi-3{
        background-image: url(../../img/pricing-testi-3.png);
    }
    .pricing-testi-row-box-info-testi-4{
        background-image: url(../../img/pricing-testi-4.png);
    }
    .pricing-testi-row-box-info-testi-5{
        background-image: url(../../img/pricing-testi-5.png);
    }
    .pricing-testi-row-box-info-testi-6{
        background-image: url(../../img/pricing-testi-6.png);
    }
    .pricing-testi-row-box-name{
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 0px;
        padding-top: 3px;
    }
    .pricing-testi-row-box-role{
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-top: 0px;
        color: #a2a3a5;
    }

    .pricing-faq-container{
        display: block;
        width: 100%;
        height: auto;
        font-size: 0px;
        margin-bottom: 53px;
    }

    .pricing-faq-column{
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .pricing-faq-row-box{
        display: block;
        width: 100%;
        height: auto;
        text-align: left;
        vertical-align: top;
        margin-bottom: 30px;
    }

    .pricing-faq-row-box-content{
        display: block;
        width: calc(100% - 40px);
        height: auto;
        margin: 0 auto;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        margin-bottom: -31px;
        padding-bottom: 5px;
    }

    .pricing-faq-row-box-content-title{
        background-image: url(../../img/pricing-faq-title-open.png);
        background-repeat: no-repeat;
        background-position: 100% 5px;
        color: #57585b;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 15px;
    }
    .pricing-faq-row-box-content-title:hover{
        color: #1ab501;
        background-image: url(../../img/pricing-faq-title-open-hover.png);
        cursor: pointer;
    }

    .pricing-faq-row-box-content-text{
        font-size: 16px;
        line-height: 24px;
        color: #57585b;
        font-weight: 300;
        margin-top: 10px;
        display: none;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }

    .pricing-table-m-title{
        color: #57585b !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        text-align: center;
    }

    .pricing-h6-m{
        text-align: center;
    }

    #header{
        display: none;
    }

    #header-m{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .header_mobile{
        display: block;
        width: 100%;
        height: 70px;
        background-color: #fff;
    }

    .header_mobile_logo{
        display: inline-block;
        width: 175px;
        height: 100%;
        max-width: 50%;
        background-image: url(../../img/logo_color_m.png);
        background-repeat: no-repeat;
        background-position: 63% 50%;
        background-size: 80%;
        vertical-align: top;
    }

    .header_mobile_nav{
        display: inline-block;
        width: 100px;
        max-width: 40%;
        height: 100%;
        background-image: url(../../img/menu.png);
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: 80% 50%;
        vertical-align: top;
        float: right;

    }
    .header_mobile_nav p{
        display: block;
        padding-top: 23px;
        padding-right: 50px;
        text-align: right;
        margin: 0;
    }
    .header_mobile_content{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: rgba(0,0,0,0.90);
        z-index: 99999999999;
    }

    .header_mobile_active{
        display: block;
        width: 100%;
        height: 70px;
        position: relative;
    }

    .header_mobile_nav_exit{
        display: block;
        width: 100px;
        max-width: 40%;
        height: 100%;
        background-image: url(../../img/menu-exit.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 80% 50%;
        vertical-align: top;
        float: right;

    }
    .header_mobile_nav_exit p{
        display: block;
        padding-top: 23px;
        padding-right: 50px;
        text-align: right;
        margin: 0;
        color: #fff;
    }

    .header_mobile_nav_links{
        display: block;
        position: relative;
        margin: 0 auto;
        width: 85%;
        height: calc(100% - 70px);
    }
    .header_mobile_nav_links a {
        display: block;
        color:  #fff;
        height: 9%;
        vertical-align: middle;
        text-transform: uppercase;
        text-align: center;
    }
    .header_mobile_nav_links p{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header_mobile_nav_links .separator{
        opacity: 0.5;
    }

	.reset-password{
		position: relative;

	}

	.reset-password-container{
		position: relative;
		display: block;
		width: 360px;
		min-height: 352px;
		height: 352px;
		max-width: 90%;
		margin: 56px auto;
		background-color: #fcfcfc;
		border-radius: 5px;
		-webkit-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
	}

	.reset-password-container-title{
		display: block;
		width: 100%;
		height: 90px;
		border-bottom: 1px solid #e0e0e0;
	}

	.reset-password-container-title h3{
		width: 100%;
		line-height: 90px;
		text-align: center;
		font-size: 22px;
	}

	.reset-password-container-content{
		position: relative;
		display: block;
		width: 100%;
		height: calc(100% - 90px);
	}

	.pasword_reset_input{
		position: relative;
		display: block;
		height: 48px;
        width:  259px;
        max-width: 75%;
        margin: 28px auto;
		border: 0px;
		background-color: #fcfcfc;
		border-bottom: 1px solid #e0e0e0;
		padding-left: 35px;
		outline: none;
		background-image: url('../../img/pasword_reset_icon.png');
		background-repeat:  no-repeat;
		background-position: 0% 50%;
	}

	.pasword_reset_input:focus{
		border-bottom: 1px solid #1ab501;
		background-image: url('../../img/pasword_reset_icon_active.png');
		background-repeat:  no-repeat;
	}

	.pasword_reset_input_confirm{
		background-image: url('../../img/pasword_reset_confirm_icon.png');
	}

	.pasword_reset_input_confirm:focus{
		background-image: url('../../img/pasword_reset_confirm_icon_active.png');
	}

	.reset_password_submit{
		display: block;
		height: 48px;
        width:  294px;
        max-width: 90%;
        margin: 28px auto;
        background-color: #1ab501;
        border-radius: 5px;
		border: 0px;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
	}

	.reset_password_submit:hover{
		-webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
	}

  .reset-button{
      height: 48px;
      width:  248px;
      max-width: 90%;
      margin: 0 auto;
      background-color: #1ab501;
      border-radius: 3px;
      margin-top: 40px;
      margin-bottom: 40px;
  }

	.reset-button:hover{
		-webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
	}

  .reset-button p{
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      width: calc(100% - 60px);
      height: 100%;
      text-align: center;
      line-height: 48px;
      padding-left: 30px;
  }

  .reset-password-container-content-success-text{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: 35px;
  }

	.unsubscribe{
		position: relative;

	}

	.unsubscribe-container{
		position: relative;
		display: block;
		width: 100%;
		min-height: 150px;
		height: auto;
		max-width: 90%;
		margin: 56px auto;
		background-color: #fcfcfc;
		border-radius: 5px;
		-webkit-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 18px 38px 0px rgba(0,0,0,0.1);
	}

	.unsubscribe-container-title{
		display: block;
		width: 100%;
		height: 90px;
		border-bottom: 1px solid #e0e0e0;
	}

	.unsubscribe-container-title h3{
		width: 100%;
		line-height: 90px;
		text-align: center;
		font-size: 22px;
	}

	.unsubscribe-container-content{
		position: relative;
		display: block;
		width: 100%;
        height: calc(100% - 90px);
        padding-bottom: 1px;
	}

    .unsubscribe-container-content p{
        display: block;
        margin-left: 1em;
        margin-right: 1em;
        width: calc(100% - 2em);
    }

    .reactivate-success,
    .reactivate-fail{
        border-bottom: 1px solid #ececec;
        display: block;
        /* height: 657px; */
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .reactivate-success{
        background-image: url('../../img/promo-avaibl-bg.png'), url('../../img/promo-bg.png');
        background-repeat: no-repeat, no-repeat;
        background-position: center 45px, center 5px;
        background-size: 100%, 166%;
    }
    .reactivate-fail{
        background-image: url('../../img/promo-fail-bg.png'), url('../../img/promo-bg.png');
        background-repeat: no-repeat, no-repeat;
        background-position: center 55px, center 5px;
        background-size: 44%, 166%;
    }

    .reactivate-success h3,
    .reactivate-fail h3{
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 200px;
        max-width: 90%;
    }

    .reactivate-success h5{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        max-width: 90%;
    }

    .reactivate-success p,
    .reactivate-fail p{
        font-size: 18px;
        font-weight: 300;
        margin: 0 auto;
        margin-bottom: 150px;
        margin-top: 15px;
        max-width: 90%;
        text-align: center;
        width: 715px;
    }
    .reactivate-success p{
        margin-top:35px;
    }

    .reactivate-success a,
    .reactivate-fail a{
        font-size: 18px;
        color: #1ab501;
    }
    .reactivate-success a:hover,
    .reactivate-fail a:hover{
        font-size: 18px;
        color: #1ab501;
        text-decoration: underline;
    }

    .reactivate-fail-image{
        display: inline-block;
        background-image: url('../../img/reactivate-fail-image.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 31px;
        margin-bottom: -10px;
        width: 414px;
        max-width: 100%;
        background-size: contain;
    }

    

    .price-table-grey-text{
        color: #57585b !important;
        max-width: calc(100% - 40px);
        line-height: 20px !important;
    }


    .pricing-future-update p{
        opacity: 0.5 !important;
    }


    .pricing-future-update .pricing-table-basic-included,
    .pricing-future-update .pricing-table-premium-included,
    .pricing-future-update .pricing-table-ultimate-included{
        background-image: url(../../img/grey-checkbox.png);
    }

    .faq-expanded .pricing-faq-row-box-content-text{
        display: block;
    }

    .faq-expanded .pricing-faq-row-box-content-title{
        background-image: url(../../img/pricing-faq-title-close.png);
    }

    .faq-expanded .pricing-faq-row-box-content-title:hover{
        background-image: url(../../img/pricing-faq-title-close-hover.png);
    }




    /* ==========================================================================
       Media Queries
       ========================================================================== */

    @media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */
    video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('../../img/appointfix-homepage-image.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        object-fit: cover;
    }


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 1170px) {


    .tooltip {
        position: relative;
        float: right;
        margin-right: 50px;
    }
    
    .tooltip .tooltiptext {
        max-width: 100vw;
    }

    #header{
        display: block;
    }

    #header-m{
        display: none;
    }

    video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('../../img/appointfix-homepage-image.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        object-fit: cover;
    }
/* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 100%; /* 1392px - 10% for margins */
        margin: 0 auto;
    }

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container{
        -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
        z-index: 100;
        width: 100%;
        position: relative;
    }

    .header-logo-container{
        display: inline-block;
        position: relative;
        width: 150px;
        height: 100%;
        margin-bottom: 2px solid transparent;
    }

    .header-logo-container img{
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .no-shadow{
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }

    .header{
        z-index: 100;
        display: block;
        height: 83px;
    }

    .header-tour{
        z-index: 100;
        display: block;
        height: 83px;
    }

    .header-home{
        z-index: 100;
        height: 83px;
    }

    .header_bottom_links{
        width: 100%;
        height: 84px;
        background-color: transparent;
        border-top: 1px solid #e0e0e0;
    }

    .header_bottom_links_container{
        width: 1252px;
        max-width: 100%;
        height: 83px;
        display: block;
        margin: 0 auto;
        background-color: #fff;
        font-size: 0px;
    }

    .header_bottom_link{
        display: inline-block;
        width: 16.66%;
        height: 100%;
    }

    .header_bottom_link_text{
        padding-top: 30px;
        text-align: center;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header_bottom_link_1{
        cursor:pointer;
        margin: 0 auto;
        margin-left: 0;
        width: 70px;
        color: #a1a1a3;
        background-image: url(../../img/tour-1-icon.png);
        background-position: 52% 20%;
        background-repeat: no-repeat;
    }

    .header_bottom_link_1:hover{
        background-image: url(../../img/tour-1-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_1_active{
        background-image: url(../../img/tour-1-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_2{
        cursor:pointer;
        margin: 0 auto;
        margin-left: 0px;
        width: 100px;
        color: #a1a1a3;
        background-image: url(../../img/tour-2-icon.png);
        background-position: 52% 20%;
        background-repeat: no-repeat;
    }

    .header_bottom_link_2:hover{
        background-image: url(../../img/tour-2-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_2_active{
        background-image: url(../../img/tour-2-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_3{
        cursor:pointer;
        margin: 0 auto;
        margin-left: 27px;
        width: 70px;
        color: #a1a1a3;
        background-image: url(../../img/tour-3-icon.png);
        background-position: 52% 20%;
        background-repeat: no-repeat;
    }

    .header_bottom_link_3:hover{
        background-image: url(../../img/tour-3-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_3_active{
        background-image: url(../../img/tour-3-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_4{
        cursor:pointer;
        margin: 0 auto;
        margin-left: 33px;
        width: 70px;
        color: #a1a1a3;
        background-image: url(../../img/tour-4-icon.png);
        background-position: 52% 20%;
        background-repeat: no-repeat;
    }

    .header_bottom_link_4:hover{
        background-image: url(../../img/tour-4-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_4_active{
        background-image: url(../../img/tour-4-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_5{
        cursor:pointer;
        margin: 0 auto;
        margin-right: 30px;
        width: 105px;
        color: #a1a1a3;
        background-image: url(../../img/tour-5-icon.png);
        background-position: 52% 0%;
        background-repeat: no-repeat;
    }

    .header_bottom_link_5:hover{
        background-image: url(../../img/tour-5-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_5_active{
        background-image: url(../../img/tour-5-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_6{
        cursor:pointer;
        margin: 0 auto;
        margin-right: 15px;
        width: 80px;
        color: #a1a1a3;
        background-image: url(../../img/tour-6-icon.png);
        background-position: 52% 20%;
        background-repeat: no-repeat;
    }

    .header_bottom_link_6:hover{
        background-image: url(../../img/tour-6-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_6_active{
        background-image: url(../../img/tour-6-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_7{
        cursor:pointer;
        margin: 0 auto;
        margin-right: 0;
        width: 80px;
        color: #a1a1a3;
        background-image: url(../../img/tour-7-icon.png);
        background-position: 52% 20%;
        background-repeat: no-repeat;
    }

    .header_bottom_link_7:hover{
        background-image: url(../../img/tour-7-icon-hover.png);
        color: #18aa01;
    }

    .header_bottom_link_7_active{
        background-image: url(../../img/tour-7-icon-hover.png);
        color: #18aa01;
    }

    .title {
        float: left;
    }

    .header-tour nav,
    .header-home nav,
    .header nav {
        float: right;
        width: auto;
    }


    .header-tour nav ul,
    .header-home nav ul,
    .header nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .header-home nav a{
        display: block;
        padding: 27px 0 13px 0;

        width: 86px;

        text-align: center;
        text-decoration: none;

        color: #fff;
        background: transparent;

        border-bottom: 3px solid transparent;
    }

    .header nav a {
        display: block;
        padding: 27px 0;

        width: 86px;

        text-align: center;
        text-decoration: none;

        color: #57585b;
        background: transparent;

        border-bottom: 3px solid transparent;
        font-weight: 400;
    }

    .header-tour nav a {
        display: block;
        padding: 27px 0;

        width: 86px;

        text-align: center;
        text-decoration: none;

        color: #57585b;
        background: transparent;

        border-bottom: 3px solid transparent;
        font-weight: 400;
    }


    .header-tour nav a:hover{
        border-bottom: 3px solid #1ab501;
    }

    .header-home nav a:hover{
        border-bottom: 3px solid #fff;
    }

    .header nav a:hover{
        border-bottom: 3px solid #1ab501;
    }

    .header-selected{
        border-bottom: 3px solid #1ab501 !important;
    }

    .header-tour nav a ,
    .header-home nav a ,
    .header nav a {
        float: left;
        margin: 0px;
    }

    .header-tour nav li a,
    .header-home nav li a,
    .header nav li a{
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-tour nav li:first-child a ,
    .header-home nav li:first-child a ,
    .header nav li:first-child a {
        margin-left: 0;
    }

    .header-tour nav li:last-child a ,
    .header-home nav li:last-child a ,
    .header nav li:last-child a {
        margin-right: -14px;
    }


    .main-container{
        display: block;
    }

    .main{
        background-color: transparent;
    }

    .video-content{
        height: 685px;
        /*z-index: -99;*/
    }

    .video-content h2{
        font-size: 52px;
        line-height: 52px;
        padding-top: 200px;
    }
    .video-content p{
        max-width: 630px;
        margin: 0 auto;
    }
    .home-video-content-download-container{
        display: block;
        width: 100%;
        white-space: nowrap;
        margin-bottom: auto;
    }
    .home-video-content-download-div{
        display: inline-block;
        width: 50%;
        white-space: normal;
        min-height: 10px;
    }
    .home-video-content-download-div a{
        display: block;
        vertical-align: top;
        margin: 15px;
    }
    .home-video-content-download-div-apple{
        display: block;
        width: 190px;
        height: 56px;
        background: url('../../img/appstore_w.png');
    }
    .home-video-content-download-div-apple:hover{
        background: url('../../img/appstore_w_hover.png');
    }
    .home-video-content-download-div-google{
        display: block;
        width: 190px;
        height: 56px;
        background: url('../../img/google_play_w.png');
    }
    .home-video-content-download-div-google:hover{
        background: url('../../img/google_play_w_hover.png');
    }

    .main article {
        width: 100%;
    }

    .main_content{
        width: 1170px;
        margin: 0 auto;
    }

    .main-home{
        display: block;
        max-width: 100%;
        padding-top: 20px !important;
        vertical-align: top;
        /*white-space: nowrap;*/
    }

    .main-home-article-info{
        display: inline-block;
        white-space: normal;
        text-align: left;
    }

    .main-home-article-info h3{
        font-size: 30px;
        font-weight: 500;
        color: #57585b;
    }

    .main-home-article-info p{
        font-size: 18px;
        font-weight: 300;
        color: #57585b;
    }

    .main-home-first-row-info{
        vertical-align: top;
        width: 458px;
        padding-top: 190px;
    }

    .main-home-second-row-info{
        vertical-align: top;
        padding-top: 250px;
        width: 496px;
        float: right;
    }

    .main-home-third-row-info{
        vertical-align: top;
        padding-top: 220px;
        width: 496px;
    }

    .main-home-article-img{
        vertical-align: top;
        display: inline-block;
        white-space: normal;
    }

    .main-home-article-img img{
        display: block;

    }

    .main-home-first-row-img{
        width: 731px;
        margin-right: -50px;
        position: relative;
        margin-bottom: -20px;
    }

    .main-home-first-row-img img{
    }

    .main-home-first-row-img .post{
        position: absolute;
        top: 0px;
        height: 100%;
    }

    .main-home-second-row-img{
        padding-top: 40px;
        width: 477px;
        margin-left: -23px;
        position: relative;
        margin-bottom: -20px;
    }

    .main-home-second-row-img-mobile{
        display: none;
    }

    .main-home-second-row-img img{

    }

    .main-home-second-row-img .post{
        position: absolute;
        top: 40px;
        height: calc(100% - 40px);
    }

    .main-home-third-row-img{
        padding-top: 30px;
        width: 490px;
        float: right;
        margin-right: -20px;
        position: relative;
        margin-bottom: -20px;
    }

    .main-home-third-third-img img{

    }

    .main-home-third-row-img .post{
        position: absolute;
        top: 30px;
        height: calc(100% - 30px);
    }

    .main-home-fourth-row-collumn{
        display: inline-block;
        width: 33%;
        height: auto;
        min-height: 100px;
        vertical-align: top;
        padding-bottom: 50px;
    }

    .main-home-fourth-row-box{
        width: 320px;
        height: 202px;
        border-radius: 5px;
        margin: 10px auto;
        cursor: pointer;
        background-position: 50% 15%;
        background-repeat: no-repeat;
    }

    .main-home-fourth-row-box:hover{
        -webkit-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 11px 38px 0px rgba(0,0,0,0.1);
    }

    .footer-container{
        width: 100%;
        margin: 0 auto;
    }

    .footer-column{
        width: 33%;
        height: 392px;
        vertical-align: top;
    }

    .footer-column-left{
        display: block;
        width: 184px;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: left;
        vertical-align: top;
    }

    .footer-column-center{
        display: block;
        width: 184px;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: none;
        vertical-align: top;
    }

    .footer-column-right{
        display: block;
        width: 184px;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        float: right;
        vertical-align: top;
    }

    .footer-column h4{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #57585b;
        padding-top: 40px; /* see when there is content*/
    }

    .footer-column a{
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        color: #57585b;
        text-decoration: none;
    }

    .footer-column a:hover{
        color: #1ab501;
    }

    .footer_mail{
        padding-left: 30px;
        background: url('../../img/footer_mail.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_mail:hover{
        background: url('../../img/footer_mail_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    .footer_facebook{
        padding-left: 30px;
        background: url('../../img/footer_facebook.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_facebook:hover{
        background: url('../../img/footer_facebook_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    .footer_twitter{
        padding-left: 30px;
        background: url('../../img/footer_twitter.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_twitter:hover{
        background: url('../../img/footer_twitter_hover.png');
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
    .footer_built_by_mobiversal_div{
        display: block;
        width: 200px;
    }
    .footer_built_by_mobiversal_div a{
        display: inline-block;
    }
    .footer_built_by_mobiversal{
        display: inline-block;
        font-size: 12px;
        color: #57585b;
    }
    .footer_mobiversal_logo{
        margin-left: 6px;
        display: inline-block;

    }

    .testimonial-container{
        padding-bottom: 50px;
    }
    .testimonial-box{

    }
    .testimonial-box-content{

    }
    .home-professionals-box{
        display: inline-block;
        width: 25%;
    }
    .home-professionals-box-content{
    }

    .download-container{
        display: block;
        width: 100%;
        white-space: nowrap;
    }
    .download-div{
        display: inline-block;
        width: 50%;
        white-space: normal;
        min-height: 10px;
    }
    .download-div a{
        display: block;
        vertical-align: top;
        margin: 15px;
    }
    .download-div-apple{
        display: block;
        width: 190px;
        height: 56px;
    }
    .download-div-google{
        display: block;
        width: 190px;
        height: 56px;
    }

    .support{

    }

    .support h3{

    }

    .support p{
        max-width: 90%;
    }

    .support-button p{
        max-width: 100%;
    }

    .support-picture-contaier{
        width: calc(100% + 42px);
        margin-left: -21px;
    }

    .support-picture-contaier-column{
        width: 25%;
        display: inline-block;

    }



    .column-people-alin{
        background-image: url(../../img/support-alin.png);
    }
    .column-people-alin:hover{
        background-image: url(../../img/support-alin-hover.png);
    }

    .column-people-flavius{
        background-image: url(../../img/support-flavius.png);
    }
    .column-people-flavius:hover{
        background-image: url(../../img/support-flavius-hover.png);
    }

    .column-people-cristi{
        background-image: url(../../img/support-cristi.png);
    }
    .column-people-cristi:hover{
        background-image: url(../../img/support-cristi-hover.png);
    }

    .column-people-vlad{
        background-image: url(../../img/support-vlad.png);
    }
    .column-people-vlad:hover{
        background-image: url(../../img/support-vlad-hover.png);
    }

    .column-people-razvan{
        background-image: url(../../img/support-razvan.png);
    }
    .column-people-razvan:hover{
        background-image: url(../../img/support-razvan-hover.png);
    }

    .column-people-cristina{
        background-image: url(../../img/support-cristina.png);
    }
    .column-people-cristina:hover{
        background-image: url(../../img/support-cristina-hover.png);
    }

    .column-people-costi{
        background-image: url(../../img/support-costi.png);
    }
    .column-people-costi:hover{
        background-image: url(../../img/support-costi-hover.png);
    }

    .column-people-levi{
        background-image: url(../../img/support-levi.png);
    }
    .column-people-levi:hover{
        background-image: url(../../img/support-levi-hover.png);
    }

    .column-people-sebi{
        background-image: url(../../img/support-sebi.png);
    }
    .column-people-sebi:hover{
        background-image: url(../../img/support-sebi-hover.png);
    }

    .column-people-dan{
        background-image: url(../../img/support-dan.png);
    }
    .column-people-dan:hover{
        background-image: url(../../img/support-dan-hover.png);
    }

    .column-people-obed{
        background-image: url(../../img/support-obed.png);
    }
    .column-people-obed:hover{
        background-image: url(../../img/support-obed-hover.png);
    }

    .column-people-dani{
        background-image: url(../../img/support-dani.png);
    }
    .column-people-dani:hover{
        background-image: url(../../img/support-dani-hover.png);
    }

    .column-people-emilia{
        background-image: url(../../img/support-emilia.png);
    }
    .column-people-emilia:hover{
        background-image: url(../../img/support-emilia-hover.png);
    }

    .landing{
        padding: 0px;
    }

    .landing h3{

    }

    .landing p{
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
    }

    .landing img{

    }

    .landing-top{
        padding: 0px;
    }

    .landing-top h3{
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .landing-top p{
        margin: 0 auto;
        text-align: center;
        max-width: 70%;
    }

    .landing-top img{

    }

    .landing-testi-box-content{
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 145px;
    }

    .landing-testi-box-content p{
        width: 100%;
        text-align: left;
        max-width: 100%;
        font-size: 18px;
    }

    .landing-testi-box-text{
        display: block;
        font-style: italic;
        font-weight: 300;
        max-width: 100%;
        text-align: left;
    }

    .landing-testi-box-content-bottom p{
        color: #a2a3a5;
        font-size: 16px;
    }

    .landing-testi-box-content-bottom a{
        color: #1ab501;
    }

    .landing-testi-box-content-bottom a:hover{
        color: #1ab501;
        text-decoration: underline;
    }

    .landing-testi-photo-container{
        display: block;
    }

    .landing-testi-photo-container-box{
        display: inline-block;
        width: auto;
        margin: 0 auto;
    }

    .tri-img{
        width: calc(100% + 34px);
        margin-left: -17px;
    }

    .tri-img-box{
        width: 33.3%;
    }

    .duo-img{
        width: 100%;
    }

    .duo-img-box{
        width: 50%;
    }

    .tour-article{
        min-height: 610px;
    }

    .main-tour-article-info{
        display: inline-block;
        white-space: normal;
        text-align: left;
        vertical-align: top;
    }

    .main-tour-article-info h3{
        font-size: 30px;
        font-weight: 500;
        color: #57585b;
    }

    .main-tour-article-info p{
        font-size: 18px;
        font-weight: 300;
        color: #57585b;
    }

    .main-tour-article-img{
        vertical-align: top;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }

    .main-tour-article-img img{
        display: block;
    }

    .main-tour-1-first-row-info{
        width: 420px;
        padding-top: 165px;
    }

    .main-tour-1-first-row-img{
        float: right;
        width: 538px;
        height: 500px;
        margin-right: -7px;
        padding-top: 80px;
    }

    .main-tour-1-second-row-info{
        width: 395px;
        padding-top: 210px;
        float: right;
    }

    .main-tour-1-second-row-img{
        width: 549px;
        margin-left: -35px;
        padding-top: 150px;
    }

    .main-tour-1-second-row-img-mobile{
        display: none;
    }

    .main-tour-1-third-row-info{
        width: 375px;
        padding-top: 200px;
    }

    .main-tour-1-third-row-img{
        float: right;
        width: 694px;
        margin-right: -37px;
        padding-top: 150px;
    }

    .main-tour-1-fourth-row-info{
        width: 395px;
        padding-top: 210px;
        float: right;
    }

    .main-tour-1-fourth-row-img{
        width: 648px;
        margin-left: -35px;
        padding-top: 40px;
    }

    .main-tour-1-fourth-row-img-mobile{
        display: none;
    }

    .main-tour-1-fifth-row-info{
        width: 375px;
        padding-top: 210px;
    }

    .main-tour-1-fifth-row-img{
        float: right;
        width: 830px;
        margin-right: -37px;
        padding-top: 40px;
    }

    .main-tour-2-first-row-info{
        width: 425px;
        padding-top: 145px;
    }

    .main-tour-2-first-row-img{
        float: right;
        width: 359px;
        margin-right: 27px;
        padding-top: 71px;
    }

    .main-tour-2-second-row-info{
        width: 395px;
        padding-top: 190px;
        float: right;
    }

    .main-tour-2-second-row-img{
        width: 582px;
        margin-left: -35px;
        padding-top: 120px;
    }

    .main-tour-2-second-row-img-mobile{
        display: none;
    }

    .main-tour-2-third-row-info{
        width: 375px;
        padding-top: 200px;
    }

    .main-tour-2-third-row-img{
        float: right;
        width: 595px;
        margin-right: -37px;
        padding-top: 40px;
    }

    .main-tour-2-fourth-row-info{
        width: 525px;
        padding-top: 60px;
        float: right;
    }

    .main-tour-2-fourth-row-img{
        width: 474px;
        margin-left: -35px;
        padding-top: 237px;
    }

    .main-tour-2-fourth-row-img-mobile{
        display: none;
    }

    .main-tour-3-first-row-info{
        width: 420px;
        padding-top: 203px;
    }

    .main-tour-3-first-row-img{
        float: right;
        width: 630px;
        margin-right: -37px;
        padding-top: 100px;
    }

    .main-tour-3-second-row-info{
        width: 395px;
        padding-top: 210px;
        float: right;
    }

    .main-tour-3-second-row-img{
        width: 456px;
        margin-left: -35px;
        padding-top: 135px;
    }

    .main-tour-3-second-row-img-mobile{
        display: none;
    }

    .main-tour-3-third-row-info{
        width: 375px;
        padding-top: 235px;
    }

    .main-tour-3-third-row-img{
        float: right;
        width: 500px;
        margin-right: 7px;
        padding-top: 160px;
    }

    .main-tour-3-fourth-row-info{
        width: 400px;
        padding-top: 200px;
        float: right;
    }

    .main-tour-3-fourth-row-img{
        width: 595px;
        margin-left: -35px;
        padding-top: 40px;
    }

    .main-tour-3-fourth-row-img-mobile{
        display: none;
    }

    .main-tour-article-box p{
        padding: 40px 50px;
    }

    .main-tour-article-box-flavius{
        background-position: 50px 0px;
        padding-left: 50px;
        padding-bottom: 40px;
    }

    .main-tour-4-first-row-info{
        width: 395px;
        padding-top: 210px;
    }

    .main-tour-4-first-row-img{
        float: right;
        width: 455px;
        margin-right: 37px;
        padding-top: 150px;
    }

    .main-tour-4-second-row-info{
        width: 395px;
        padding-top: 200px;
        float: right;
    }

    .main-tour-4-second-row-img{
        width: 705px;
        margin-left: -35px;
        padding-top: 40px;
    }

    .main-tour-4-second-row-img-mobile{
        display: none;
    }

    .main-tour-5-first-row-info{
        width: 505px;
        padding-top: 180px;
    }

    .main-tour-5-first-row-img{
        float: right;
        width: 595px;
        margin-right: -37px;
        padding-top: 100px;
    }

    .main-tour-5-second-row-info{
        width: 465px;
        padding-top: 170px;
        float: right;
    }

    .main-tour-5-second-row-img{
        width: 355px;
        margin-left: -35px;
        padding-top: 40px;
    }

    .main-tour-5-second-row-img-mobile{
        display: none;
    }

    .main-tour-6-first-row-info{
        width: 335px;
        padding-top: 169px;
    }

    .main-tour-6-first-row-img{
        float: right;
        width: 742px;
        margin-right: -37px;
        padding-top: 118px;
    }

    .main-tour-6-second-row-info{
        width: 395px;
        padding-top: 220px;
        float: right;
    }

    .main-tour-6-second-row-img{
        width: 684px;
        margin-left: -35px;
        padding-top: 40px;
    }

    .main-tour-6-second-row-img-mobile{
        display: none;
    }

    .main-tour-7-first-row-info{
        width: 480px;
        padding-top: 140px;
    }

    .main-tour-7-first-row-img{
        float: right;
        width: 504px;
        margin-right: -37px;
        padding-top: 250px;
    }

    .support-bg{
        background: linear-gradient(#fff 250px, #f9f9f9 250px, #f9f9f9 calc(100% - 325px), #fff calc(100% - 325px));
    }

    .pricing-table{
        display: block;
        width: 100%;
        margin-top: 30px;
    }
    .pricing-table tr{
        border-bottom: 1px solid #e1e1e1;
    }
    .pricing-table td{
        /* width: 25%; */
        width: 300px;
        /*width: 260px;*/
    }

    .pricing-table-m{
        display: none;
    }

    .pricing-table-row-content{
        position: relative;
        display: block;
        width: 266px;
        margin: 0 auto;
        margin-right: 0px;
        margin-left: 17px;
    }

    .pricing-table-text{
        vertical-align: top;
    }

    .pricing-table-text p{
        color: #57585b;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
    }

    .pricing-table-text h6{
        color: #57585b;
        font-weight: 500;
        font-size: 30px;
        text-align: left;
        line-height: 35px;
        margin-bottom: 10px;
        /* margin-top: -40px; */
        width: 90%;
    }

    .pricing-table-text-span{
        color: #57585b;
        font-weight: 300;
        font-size: 18px;
        text-align: left;
        line-height: 20px;
    }

    .pricing-table-basic p{
        color: #7e57c2;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }

    .pricing-table-premium p{
        color: #0091ea;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }

    .pricing-table-ultimate p{
        color: #1ab501;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }


    .pricing-table-box{
        
    }

    .pricing-table-box-basic{

    }

    .pricing-table-box-premium{
        
    }

    .pricing-table-box-ultimate{
        
    }

    .pricing-table-box-title{
        color: #fff !important;
        font-size: 20px !important;
        font-weight: 400 !important;
        line-height: 80px;
        text-align: center;
    }

    .pricing-table-box-price{
        color: #57585b !important;
        font-size: 30px !important;
        font-weight: 500 !important;
        text-align: center !important;
        padding-top: 10px;
    }

    .pricing-table-box-price-small{
        font-size: 18px !important;
    }

    .pricing-table-box-text{
        color: #57585b !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        text-align: center !important;
        margin-top: 10px;
    }

    .pricing-table-not-included{
        width: 260px;
        height: 60px;
        margin: 0 auto;
        margin-right: 0px;
        background-image: url(../../img/empty-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .pricing-table-basic-included{
        width: 260px;
        height: 60px;
        margin: 0 auto;
        margin-right: 0px;
        background-image: url(../../img/basic-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .pricing-table-premium-included{
        width: 260px;
        height: 60px;
        margin: 0 auto;
        margin-right: 0px;
        background-image: url(../../img/premium-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .pricing-table-ultimate-included{
        width: 260px;
        height: 60px;
        margin: 0 auto;
        margin-right: 0px;
        background-image: url(../../img/ultimate-checkbox.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .pricing-testi-column{
        display: inline-block;
        width: 50%;
        font-size: 0px;
        vertical-align: top;
    }

    .pricing-faq-column{
        display: inline-block;
        width: 50%;
        font-size: 0px;
        vertical-align: top;
    }

    .pricing-faq-row-box{
        display: inline-block;
        width: 100%;
    }

    .pricing-faq-row-box-content{
        display: block;
        width: 505px;
        font-size:  15px;
    }
    .header_bottom_links_containerr{
        width: 100%;
        background: #fff;
    }

	.reset-password-container{
		margin: 206px auto;
	}

	.unsubscribe-container{
		margin: 206px auto;
    }
    .reactivate-success{
        background-position: center 90px, center 5px;
        background-size: auto;
    }
    .reactivate-fail{
        background-position: center 110px, center 5px;
        background-size: auto;
    }

    .reactivate-success h3,
    .reactivate-fail h3{
        margin-top: 310px;
    }
}

@media only screen and (min-width: 1252px) {
    .wrapper {
        width: 1252px; /* 1392px - 10% for margins */
    }
    .main_content{
        width: 1170px;
        margin: 0 auto;
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*.hidden {
    display: none !important;
    visibility: hidden;
}*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
